body{
    background-color: #aaaaaa;
    color: #800000;
    font-size: 20px;
    font-family: monospace;
}
table{
    border-collapse: collapse;
}
td{
    border-right: 1px solid white;
    border-left: 1px solid white;
    min-width: 40px;
    padding: 3px;
    text-align: center;
}
tr:first-of-type td{
    font-weight: bold;
    border-width: 0px;
    border-bottom: 2px solid white;
}